@charset "utf-8";

@import url("font.css");

/* 
SUMMARY :

01 RESET
02 LAYOUT
03 GLOBAL
04 HEADER
05 FOOTER
06 SCROLL TOP 
*/

/* reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {box-sizing:border-box;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
td,th {padding:0}

body {background:#fff}
body,th,td,input,select,textarea,button {font-family:'Noto Sans Korean','Nanum Gothic','Malgun Gothic',dotum,gulim;font-size:13px;font-weight:400;font-style:normal;color:#333;line-height:1.5} 
a {color:#333;text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

legend, caption {display:none;width:0;height:0;font-size:0;line-height:0}

/* layout */

html, body {width:100%;height:100%}
.wrap {width:100%;height:100%;padding-top:120px}
.header {position:relative;min-width:1280px;height:130px}
.container {width:100%}

/* under ie6 */

*html .container {height:100%} 

.footer {position:relative}

.page_wrap {overflow:hidden;max-width:1280px;margin:0 auto;border-left:1px solid #ddd}
.page_wrap:after {display:block;clear:both;content:''}

.snb {float:left;width:205px;min-height:300px;_height:300px;margin:0 0 50px}
.conts {float:left;width:1035px;padding:0 0 150px;border-left:1px solid #ddd}

/* global */

.blind {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0.1em;line-height:0.01em;text-indent:-9999px}

/* ico */

.ico {display:inline-block;background-image:url(../img/common/img_common.png);background-repeat:no-repeat;vertical-align:middle;text-indent:-99999px}

/* width */

.w30 {width:30%}
.w40 {width:40%}
.w100 {width:100%}

/* skip */

#skip_navi {height:0}
#skip_navi a {position:absolute;top:-9999px;z-index:10000;width:100%;height:30px;background-color:#000;font-weight:600;color:#fff;text-align:center;line-height:30px;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60)}        
#skip_navi a:hover, 
#skip_navi a:focus, 
#skip_navi a:active {top:0;color:#fff}

/* header */

#header {position:fixed;top:0px;left:0px;z-index:100;width:100%}
#header .util {width:100%;background-color:#213152}
#header .util ul {overflow:hidden;max-width:1280px;margin:0 auto;text-align:right}
#header .util ul li {display:inline;position:relative;padding:0 12px 0 8px}
#header .util ul li a {height:35px;font-size:12px;color:#a8acb7;text-align:center;line-height:35px}
#header .util ul li .bar {position:absolute;top:50%;right:0;height:7px;width:1px;margin-top:-3px;background-color:#5c6880}

/* */

#header .h_group {overflow:visible;position:absolute;top:35px;left:0px;z-index:100;width:100%;height:104px;border-bottom:1px solid #ddd;background-color:#fff}
#header .h_group:before {content:"";position:absolute;top:104px;left:0px;width:100%;height:1px;background-color:#ddd}
#header .h_group > div {max-width:1280px;margin:0 auto}
#header .h_group > div:after {display:block;clear:both;content:''}
#header .h_group > div h1 {overflow:hidden;float:left;padding:28px 0 0}

#gnb {float:right;padding:28px 0 0}
#gnb .btn_menu {display:none;overflow:hidden;position:absolute;top:48px;right:20px;width:24px;height:17px;background:url(../img/common/btn_menu.png) no-repeat;text-indent:-999em}
#gnb .btn_close {display:none;overflow:hidden;position:absolute;top:10px;right:23px;width:16px;height:16px;background:url(../img/common/btn_close.png) no-repeat;text-indent:-999em}

#gnb > .box > ul {/* overflow:hidden */}
#gnb > .box > ul:after {display:block;clear:both;content:''}
#gnb > .box > ul > li {position:relative;float:left}
#gnb > .box > ul > li > a {display:block;padding:10px 30px;cursor:pointer}
#gnb > .box > ul > li > a span {display:block;padding-bottom:10px;font-size:20px}
#gnb > .box > ul > li.current > a span,
#gnb > .box > ul > li > a:hover span,
#gnb > .box > ul > li > a:focus span {color:#125187}

#gnb > .box > ul > li > .sub_menu {display:none;position:absolute;top:70px;left:0px;width:200px;padding:22px 0}
#gnb > .box > ul > li > .sub_menu > .inner {/* overflow:hidden;float:left */}

#gnb > .box > ul > li > .sub_menu > .inner > ul {/* overflow:hidden;float:left */}
#gnb > .box > ul > li > .sub_menu > .inner > ul > li {width:100px;margin:0 0 5px 32px}
#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a {display:block;color:#333;font-size:15px;line-height:28px;letter-spacing: -0.1px}
#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a:hover,
#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a:focus {color:#125187}

/* footer */

.footer {padding:50px 0 30px;background-color:#343235;color:#8c8c8c}
.f_wrap {position:relative;max-width:1280px;margin:0 auto}
.f_wrap:after {display:block;clear:both;content:''}

.f_wrap .info {float:left;font-size:14px}
.f_wrap .info ul {overflow:hidden;zoom:1;position:relative;padding:0 0 15px 0;font-weight:700;color:#000}
.f_wrap .info ul:after {display:block;clear:both;content:''}
.f_wrap .info ul li {display:inline;position:relative;padding:0 12px;color:#8c8c8c}
.f_wrap .info ul li:first-child {padding:0 12px 0 0}
.f_wrap .info ul.add li {padding:0 8px;font-size:12px}
.f_wrap .info ul.add li:first-child {padding:0 8px 0 0}
.f_wrap .info ul li .bar {position:absolute;top:50%;right:-2px;height:7px;width:1px;margin-top:-3px;background-color:#757271}
.f_wrap .info ul li a {color:#8c8c8c}
.f_wrap .info p {font-size:12px}

/* family */

.f_holder {display:none}

.family {position:absolute;right:0;top:6px}
.family:before {content:'';display:inline-block;position:absolute;top:0;right:90px;width:1px;height:34px;margin-left:-4px;background-color:#d8d8d8}
.family:after {content:"";clear:left;display:block}

.family .f_btn {float:left;width:145px;height:32px;margin:0 7px 0 0;padding:0 0 0 15px;border:1px solid #d9d9d9;background:#fff url(../img/common/arr_up.png) no-repeat 140px center;color:#333;font-size:14px;line-height:32px}
.family .f_btn.open {background:#fff url(../img/common/arr_down.png) no-repeat 140px center}

.f_list {display:none;float:left;position:absolute;left:0px;bottom:36px;z-index:100;width:160px;border:1px solid #4c4c4c;background-color:#fff}
.f_list li {line-height:34px}
.f_list li a {display:block;padding:0 0 0 15px;font-size:14px;color:#000} 
.f_list li a:hover {color:#001e3a}

.family .submit {display:inline-block;float:right;width:49px;height:32px;border:1px solid #5d5d5d;background-color:#5d5d5d;font-size:14px;color:#fff;text-align:center;line-height:32px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}
.family .submit:hover,
.family .submit:focus {border:1px solid #fff;background-color:#fff;color:#333;text-decoration:none} 

/* scroll top */

.btn_top {display:none;position:fixed;bottom:0;width:100%;z-index:2;opacity:0;-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.btn_top.show {opacity:1}
.btn_top .inner {position:relative;width:1200px;margin:0 auto}
.btn_top .inner a {display:block;position:absolute;bottom:168px;right:-65px;width:45px;height:45px;background:url(../img/common/btn_top.png) center center no-repeat}
.btn_top span {display:block;text-indent:-9999px}

/* */

.web {display:block}
.mobile {display:none}

/* */

@media (max-width: 1279px) {

	/* layout */

	.container {min-width:100%}
	.page_wrap {width:auto;border-left:0}

	/* header */

	#header .util {width:auto}
	#header .h_group > div {width:auto}

	/* footer */

	.f_wrap {width:100%}
	.f_wrap .info {float:none;text-align:center}
	.family {display:block;position:inherit;width:220px;margin:0 auto}

}

@media (max-width: 1024px) {

	/* header */

	#header .h_group > div {width:auto;padding:0 10px}
	#gnb .btn_menu, 
	#gnb .btn_close {display:block}

	#gnb > .box {position:absolute;top:-35px;right:-80%;z-index:20;width:80%;padding-bottom:2px}
	#gnb > .box > ul {width:100%;padding-top:35px}
	#gnb > .box > ul > li {float:none;width:100%;height:auto;background:#f7f7f7;border-bottom:1px solid #555}
	#gnb > .box > ul > li:first-child {border-top:1px solid #555}
	#gnb > .box > ul > li > a {padding:15px 24px;background:#424242}

	#gnb > .box > ul > li > a span {padding-bottom:0px;background:url(../img/common/bul_down.gif) no-repeat 100% 8px;color:#fdfdfd}
	#gnb > .box > ul > li.current > a span {background:url(../img/common/bul_up.gif) no-repeat 100% 8px;color:#fdfdfd}
	#gnb > .box > ul > li > a:hover span,
	#gnb > .box > ul > li > a:focus span {color:#fdfdfd}

	#gnb > .box > ul > li > .sub_menu {position:relative;top:0px;width:100%;padding:0px;border-bottom:none}
	#gnb > .box > ul > li > .sub_menu > .inner {float:none}	

	#gnb > .box > ul > li > .sub_menu > .inner > ul {display:none;float:none;margin-left:0px}
	#gnb > .box > ul > li > .sub_menu > .inner > ul > li {float:none;width:auto;margin:0px;border-top:1px solid #787878}
	#gnb > .box > ul > li > .sub_menu > .inner > ul > li:first-child {margin-left:0}
	#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a {padding:0 14px;height:44px;border-bottom:none;background:#696969;line-height:44px}
	#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a > span {padding-left:20px;color:#dadada}
	#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a > span:before {content:'';display:inline-block;position:relative;top:-4px;left:-5px;width:6px;height:1px;background-color:#fff}
	#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a:hover,
	#gnb > .box > ul > li > .sub_menu > .inner > ul > li > a:focus {background:#005bac}

}

@media (max-width: 1000px) {

	/* */

	.web {display:none}
	.mobile {display:block}

}

@media (max-width: 640px) {

	/* footer */

	.footer {padding:0 0 30px}
	.f_wrap .info {padding:0 0 0 20px;text-align:left}
	.f_wrap .info ul {display:none}
	.f_wrap .info ul.add {display:block}

	.f_holder {position:relative;margin:0 0 30px;padding:0 !important;border-bottom:1px solid #807f81;background-color:#49474a;font-size:18px;color:#a6a6a7}
	.f_holder, 
	.f_menu {display:none}
	.f_holder {display:block}

	.f_holder .txt {padding:20px 0 15px 30px}
	.f_holder .txt a {display:block;margin:0 auto;text-align:center}

	.f_holder .f_selector {position:absolute;top:18px;right:30px;text-align:right;cursor:pointer}
	.f_holder .f_selector .icon {position:absolute;top:0;right:0;height:40px;padding:2px 0 0 10px}

	.f_menu ul {margin:10px 0 0}
	.f_menu li {overflow:hidden;height:46px;padding:0 20px;border:1px solid #c8c8c8;border-width:0px 0 1px 0;background-color:#fff;font-size:14px;line-height:46px;cursor:pointer}
	.f_menu li:first-child {border-width:1px 0 1px 0}

	/* family */

	.family {display:none}

}
